body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item:first-of-type{
  background-color: red;
}
.item:nth-of-type(2){
  background-color: blue;
}
.item:last-of-type{
  background-color: chartreuse;
}
.item{
  margin: 50px;
padding: 16px;
background-color: cornflowerblue;
}
